<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.globalexpress.web.foreground.dao.ForegroundMediaInfoDao">
  <resultMap id="BaseResultMap" type="com.globalexpress.web.entity.MediaInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="media_name" jdbcType="VARCHAR" property="mediaName" />
    <result column="interface_name" jdbcType="VARCHAR" property="interfaceName" />
    <result column="icon_url" jdbcType="VARCHAR" property="iconUrl" />
    <result column="icon_direct_link" jdbcType="VARCHAR" property="iconDirectLink" />
    <result column="media_label" jdbcType="VARCHAR" property="mediaLabel" />
    <result column="media_keyword" jdbcType="VARCHAR" property="mediaKeyword" />
    <result column="media_url" jdbcType="VARCHAR" property="mediaUrl" />
    <result column="word_design" jdbcType="VARCHAR" property="wordDesign" />
    <result column="media_direct_link" jdbcType="VARCHAR" property="mediaDirectLink" />
    <result column="media_type" jdbcType="BIT" property="mediaType" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="user_sequence" jdbcType="INTEGER" property="userSequence" />
    <result column="is_show" jdbcType="BIT" property="show" />
    <result column="click" jdbcType="INTEGER" property="click" />
    <result column="reserved1" jdbcType="VARCHAR" property="reserved1" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="owner_id" jdbcType="BIGINT" property="ownerId" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="is_authorization" jdbcType="BIT" property="authorization" />
    <result column="is_apply" jdbcType="BIT" property="apply" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, media_name, interface_name, icon_url, icon_direct_link, media_label, media_keyword, 
    media_url, word_design, media_direct_link, media_type, parent_id, user_sequence, 
    is_show, click, reserved1, note, owner_id, operator_id, is_authorization, is_apply, 
    gmt_create, gmt_modified
  </sql>
  
  <select id="listByIdList" resultMap="BaseResultMap">
	select
	<include refid="Base_Column_List" />
	from media_info
	where
		owner_id = #{param1,jdbcType=BIGINT}
	and id in
		  	<foreach item="item" index="index" collection="param2" open="(" separator="," close=")">  
				#{item}  
			</foreach>
	and is_show = 1
	order by user_sequence, id desc
  </select>
  <select id="countByBlockIdAndKeyword" resultType="int">
    select 
    	count(*)
    from media_info
    where owner_id = #{0,jdbcType=BIGINT}
    <if test="param2!=null">
	    and
	    	id in
	    		(select content_id from block_content_link where block_id = #{1 } and owner_id = #{0} and content_type = 23)
    </if>
    <if test="param3!=null">
	    and (
	    	media_name like CONCAT('%',#{2},'%') or
	    	interface_name like CONCAT('%',#{2},'%') or
	    	media_keyword like CONCAT('%',#{2},'%') or
	    	media_label like CONCAT('%',#{2},'%') or
	    	note like CONCAT('%',#{2},'%') or
	    	word_design like CONCAT('%',#{2},'%')
	    )
    </if>
  </select>
  <select id="limitByBlockIdAndKeyword" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from media_info
    where owner_id = #{ownerId,jdbcType=BIGINT}
    	and is_show = 1
    <if test="blockId!=null">
	    and
	    	id in
	    		(select content_id from block_content_link where block_id = #{blockId } and owner_id = #{ownerId} and content_type = 23)
    </if>
    <if test="keyword!=null">
	    and (
	    	media_name like CONCAT('%',#{keyword},'%') or
	    	interface_name like CONCAT('%',#{keyword},'%') or
	    	media_keyword like CONCAT('%',#{keyword},'%') or
	    	media_label like CONCAT('%',#{keyword},'%') or
	    	note like CONCAT('%',#{keyword},'%') or
	    	word_design like CONCAT('%',#{keyword},'%')
	    )
    </if>
    order by id desc
    limit #{start},#{rows}
  </select>
</mapper>